@use './common/var.scss' as *;

.#{$namespace}-icon {
  color: getCssVar('color-black');
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: getCssVar('transition-transform');
  transform-origin: 50% 50%;
  svg {
    width: 1em;
    height: 1em;
    line-height: 1em;
    fill: currentcolor;
  }
}
